// Navigation Styles here

.navdiv{
    max-width: 1000px;
    .border(@silver; dashed; 3px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    height: 100px;
    @media @mobile{
        max-width: 500px;
        flex-direction: column;
        padding-bottom: 3% ;
    }
    h1{
        font-size: 4.5rem;
        
    }
    
    nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 300px;
        @media @mobile{
            width: 450px;
            
        }
            
        a{
          
            text-decoration: none;
            color: @shark;
            font-size: 1.7rem;
            @media @mobile{
                font-size: 1.4rem;
            }
        }
    }


}